body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.989233193277311) 26%, rgba(0,0,0,1) 50%, rgba(125,238,242,0.9416141456582633) 87%);
}

.editor-container {
    margin-top: 80px;
    width: 500px;
    height: 500px;
}

textarea {
    width: 500px;
    height: 500px;
    font-family: monospace;
    font-size: 14px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
